<div class="w-full flex flex-col">
    <label class="w-full" for={{label}}>{{label}}</label>
    <input class="w-full p-1 px-2 rounded-md font-sans text-sm" type={{type}} [class.is-invalid]="control.touched && control.invalid"
        [formControl]="control">

    <div class="text-red-600 text-xs" *ngIf="control.errors?.['required'] && control.touched">Please enter a {{label}}</div>
    <div class="text-red-600 text-xs" *ngIf="control.errors?.['minlength'] && control.touched">
        Your {{label}} should be at least {{control.errors?.['minlength'].requiredLength}} characters
    </div>
    <div class="text-red-600 text-xs" *ngIf="control.errors?.['maxlength'] && control.touched">
        Your {{label}} should be at most {{control.errors?.['maxlength'].requiredLength}} characters
    </div>
    <div class="text-red-600 text-xs" *ngIf="control.errors?.['notMatching'] && control.touched">
        Passwords do not match
    </div>
</div>