/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .button-lt {
    @apply bg-[#262626] text-white px-2 rounded-md hover:bg-[#ff2f2f] hover:cursor-pointer; 
  }
}

.menu-open{
  animation: menuOpen 0.75s;
  animation-fill-mode: forwards;
}

@keyframes menuOpen {
  0%{
     transform: scaleY(0);
     transform-origin: top;
    }
 100%{
      transform: scaleY(1);
    }
 }


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #4a5568 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff00;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #4a5568;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }