<div class="panel-heading">
    <div class="row">
        <div class="col col-sm-3 col-xs-12">
            <h1 class="title">Users</h1>
        </div>
        <div class="col-sm-9 col-xs-12 text-right">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 panel">
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Vincent Williamson</td>
                        <td>v@hotmail.com</td>
                        <td>
                            <ul class="action-list">
                                <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col col-sm-6 col-xs-6">showing <b>5</b> out of <b>25</b> entries</div>
                <div class="col-sm-6 col-xs-6">
                    <ul class="pagination hidden-xs pull-right">
                        <li><a href="#">&lt;</a></li>
                        <li class="active ms-2"><a href="#">1</a></li>
                        <li class="ms-2"><a href="#">2</a></li>
                        <li class="ms-2"><a href="#">3</a></li>
                        <li class="ms-2"><a href="#">4</a></li>
                        <li class="ms-2"><a href="#">5</a></li>
                        <li class="ms-2"><a href="#">&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <img src="../../assets/people.svg" alt="Image" class="img-fluid">
    </div>
</div>