<div class="panel-heading">
    <div class="row">
        <div class="col col-sm-3 col-xs-12">
            <h1 class="title">Users</h1>
        </div>
        <div class="col-sm-9 col-xs-12 text-right">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 panel">
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody *ngIf="pagination">
                    <tr *ngFor="let user of users | 
                        paginate: { 
                            itemsPerPage: pagination.itemsPerPage, 
                            currentPage: pagination.currentPage, 
                            totalItems: pagination.totalItems }"
                    >
                        <td>{{user.id}}</td>
                        <td>{{user.username | titlecase}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <a href="#" class="me-3" data-tip="edit"><fa-icon [icon]="faPencil"></fa-icon></a>
                            <a href="#" data-tip="delete"><fa-icon [icon]="faTrash"></fa-icon></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer" *ngIf="pagination">
            <div class="row justify-content-center">
                <div class="col-lg col-sm-12"> 
                    <pagination-controls
                        class="text-md-center text-lg-start" 
                        (pageChange)="pageChanged($event)"
                    >
                    </pagination-controls>
                </div>       
                <div class="col-lg-auto">
                    <p class="text-center">
                        showing <b>{{pagination.itemsPerPage}}</b> out of <b>{{pagination.totalItems}}</b> entries
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <img src="../../assets/people.svg" alt="Image" class="img-fluid">
    </div>
</div>