<div class="navbar navbar-dark fixed-bottom bg-primary">
    <div class="container flex justify-content-start">
        <ul class="navbar-nav d-flex flex-row">
            <li class="nav-item px-2">
                <a class="nav-link py-0">Christopher Shim 2023</a>
            </li>
            <li class="nav-item px-2">
                <a href="https://www.linkedin.com/in/christopher-shim-bsc/" target="_blank" class="nav-link py-0"><fa-icon [icon]="faLinkedinIn" class="social-media"></fa-icon></a>
            </li>
            <li class="nav-item px-2">
                <a href="https://github.com/ChrisShim98" target="_blank" class="nav-link py-0"><fa-icon [icon]="faGithubSquare" class="social-media"></fa-icon></a>
            </li>
        </ul>
    </div>  
</div>
