<div class="w-screen min-h-screen fixed lg:absolute top-0 left-0 text-black bg-[#00000094] z-[60] fadeIn overflow-x-hidden">
    <div class="grid w-full min-h-screen place-content-center p-4">
        <div class="w-[15rem] text-center md:w-[24rem] min-h-[8rem] bg-white rounded-md shadow-2xl p-4 shadow-black grid place-content-center">
            <h1 class="text-2xl pb-4">Select a budget</h1>
            <div class="grid grid-cols-3 gap-4">
                <div *ngFor="let budget of monthlyBudgets; let i = index;"> 
                    <div (click)="selectFunction(i)" class="button-lt py-1">
                        {{budget.month}} / {{budget.year}}
                    </div>     
                </div>
            </div>
            <div *ngIf="closeFunction != null" class="flex gap-4 justify-center pt-4">
                <button (click)="closeFunction()" class="button-lt w-20 py-1">Cancel</button>
            </div>
        </div>
    </div>
</div>
