.card3{
    animation: Card3Open 1s;
    animation-fill-mode: forwards;
  }

.card3-close{
    animation: Card3Close 1s;
    animation-fill-mode: forwards;
  }

.card4{
    animation: Card4Open 1s;
    animation-fill-mode: forwards;
  }

.card4-close{
    animation: Card4Close 1s;
    animation-fill-mode: forwards;
  }

@keyframes Card3Open {
    0%{
       transform: rotate(0deg);
      }
   100%{
       transform: rotate(12deg);
      }
   }
@keyframes Card3Close {
    0%{
       transform: rotate(12deg);
      }
   100%{
       transform: rotate(0deg);
      }
   }
@keyframes Card4Open {
    0%{
       transform: rotate(0deg);
      }
   100%{
       transform: rotate(25deg);
      }
   }
@keyframes Card4Close {
    0%{
       transform: rotate(25deg);
      }
   100%{
       transform: rotate(0deg);
      }
   }