<div class="bg-[#ff2f2f] fixed top-0 left-0 w-screen z-50">
    <div class="flex justify-center">
        <h1 class="text-3xl md:text-4xl lg:text-6xl py-4 text-white text-center pointer-events-none up">Budget Tracker</h1>
        <div class="absolute top-10 right-0 bottom-0 m-auto text-2xl text-white text-center hidden lg:flex">
            <p *ngIf="!(accountService.currentUser$ | async)" (click)="login()" class="pr-4 hover:text-black hover:cursor-pointer">Login</p>
            <p *ngIf="!(accountService.currentUser$ | async)" (click)="register()" class="pr-4 hover:text-black hover:cursor-pointer">Register</p>
            <p *ngIf="(accountService.currentUser$ | async) as user" (click)="menuOpen()" class="pr-4 hover:text-black hover:cursor-pointer relative">
                <fa-icon [icon]="faCaretDown"></fa-icon>
                Welcome {{user.username | titlecase}}!</p>
            <div *ngIf="menuOpened && (accountService.currentUser$ | async)" class="p-2 pr-6 rounded-md bg-gray-100 absolute top-10 text-black text-start">
                <p (click)="logout()" class="pr-4 hover:text-[#ff2f2f] hover:cursor-pointer">New Budget</p>
                <p (click)="logout()" class="pr-4 hover:text-[#ff2f2f] hover:cursor-pointer">Settings</p>
                <p (click)="logout()" class="pr-4 hover:text-[#ff2f2f] hover:cursor-pointer">Logout</p>
            </div>      
        </div>
    </div>     
</div>
