<div class="grid w-screen min-h-screen overflow-x-hidden">
    <div class="flex flex-col relative w-[100%] h-full justify-center items-center gap-4 z-20 pt-24 pb-4">
        <!-- Basic Info -->
        <div class="w-[20rem] md:w-[45rem]">
            <div class="w-full flex justify-center text-center">
                <h1 *ngIf="!(isEditingBudget)" class="text-3xl p-2 bg-red-800 rounded-t-md text-white w-full ">
                    New Budget</h1>
                <h1 *ngIf="isEditingBudget" class="text-3xl p-2 bg-red-800 rounded-t-md text-white w-full ">
                    Edit Budget</h1>
            </div>

            <form class="bg-gray-100 rounded-b-md p-4">
                <div class="pb-4">
                    <h1 class="text-2xl">Basic Information</h1>
                </div>

                <div class="flex flex-col gap-4 md:grid md: grid-cols-2">
                    <div class="flex flex-col gap-4">
                        <div class="flex gap-2 w-full">
                            <div class="py-[0.2rem] px-1 w-[50%] relative">
                                <p class="">Income*:</p>
                                <p class="absolute top-[1.25rem] text-[0.55rem]">(after tax)</p>
                            </div>
                            <input [(ngModel)]="model.income" type="number" name="Income" placeholder="0"
                                class="p-1 px-2 rounded-md w-full font-sans text-sm">
                        </div>

                        <!-- Regular Vesion -->
                        <div *ngIf="!(isEditingBudget)" class="flex gap-2">
                            <p class="p-1 w-[49%]">Month*:</p>
                            <select [(ngModel)]="model.month" id="month" name="month"
                                class="pb-1 px-1 rounded-md w-full font-sans text-sm">
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        <!-- Editing Vesion -->
                        <div *ngIf="isEditingBudget" class="flex gap-2 pointer-events-none">
                            <p class="p-1 w-[49%]">Month*:</p>
                            <select [(ngModel)]="model.month" id="month" name="month"
                                class="pb-1 px-1 rounded-md w-full font-sans text-sm bg-[#4f4f4f45]">
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        <!-- Regular Version -->
                        <div *ngIf="!(isEditingBudget)" class="flex gap-2 w-full">
                            <p class="p-1 w-[50%] relative">Year*:</p>
                            <input [(ngModel)]="model.year" type="number" min="20" max="3000" step="1"
                                oninput="(validity.valid)||(value='2023');" name="year"
                                class="p-1 px-2 rounded-md w-full font-sans text-sm">
                        </div>
                        <!-- Editing Version -->
                        <div *ngIf="isEditingBudget" class="flex gap-2 w-full pointer-events-none">
                            <p class="p-1 w-[50%] relative">Year*:</p>
                            <input [(ngModel)]="model.year" type="number" min="20" max="3000" step="1"
                                oninput="(validity.valid)||(value='2023');" name="year"
                                class="p-1 px-2 rounded-md w-full font-sans text-sm bg-[#4f4f4f45]">
                        </div>
                    </div>

                    <div class="flex flex-col gap-4 relative">
                        <div class="text-gray-100">
                            <p class="py-[0.2rem] px-1 w-[50%] relative">Design</p>
                        </div>
                        <div>
                            <p class="py-[0.2rem] px-1 w-[50%] relative">Text</p>
                        </div>
                        <div>
                            <p class="py-[0.2rem] px-1 w-[50%] relative">Text</p>
                        </div>

                        <div
                            class="absolute flex flex-col gap-4 justify-center bg-gray-300 rounded-md w-[18.5rem] md:w-[22rem] h-[6.5rem] pl-4 pr-6 left-[-4px] top-[10px] pt-2 border border-gray-400">
                            <div class="flex gap-2 w-full">
                                <div class="py-[0.2rem] px-1 w-[40%] md:w-[27%] relative">
                                    <p class="">Passive:</p>
                                </div>
                                <p class="p-1 px-2 rounded-md w-full bg-white font-sans text-sm">{{model.assetTotal}}
                                </p>
                            </div>

                            <div class="flex gap-2 w-full">
                                <div class="py-[0.2rem] px-1 w-[40%] md:w-[27%] relative">
                                    <p class="">Expenses:</p>
                                </div>
                                <p class="p-1 px-2 rounded-md w-full bg-white font-sans text-sm">{{model.expenseTotal}}
                                </p>
                            </div>
                        </div>

                        <div class="absolute bg-gray-100 p-1 px-2 rounded-md top-[-5px] left-[70px] md:left-[100px]">
                            <h2 class="text-sm">Automatically Calculated</h2>
                        </div>
                    </div>
                </div>

            </form>
        </div>

        <div class="flex flex-col gap-4">
            <!-- Expenses -->
            <form class="bg-gray-100 w-[20rem] md:w-[45rem] rounded-md p-4 flex flex-col gap-2 md:gap-4 relative">
                <div>
                    <h1 class="text-2xl">Input Expenses</h1>
                    <h1 class="text-lg">Monthly Expenses</h1>
                </div>

                <!-- Fixed Expenses -->
                <div *ngFor="let fixedExpense of TotalFixedExpenseModel; let i=index" class="flex gap-2">
                    <p class="p-1 w-[60%] md:w-[25%]">{{fixedExpense.name | titlecase}}:</p>
                    <input (keyup)="calculations()" [(ngModel)]="TotalFixedExpenseModel[i].amount" type="number"
                        placeholder="0" name="amountFixed{{i}}"
                        class="p-1 w-[5rem] md:w-[10rem] rounded-md font-sans text-sm">
                    <fa-icon [icon]="faTrash" (click)="RemoveFixedExpense(fixedExpense.id)"></fa-icon>
                </div>
                <div>
                    <p class="text-sm">Enter your monthly expenses individually below</p>
                    <form class="grid grid-flow-col gap-2 grid-cols-3" (ngSubmit)="AddFixedExpense()">
                        <input type="text" [(ngModel)]="FixedExpenseModel.name" name="AddFixedExpense"
                            class="p-1 col-span-2 rounded-md font-sans text-sm">
                        <button class="button-lt col-span-1" type="submit">Add
                            Expense</button>
                    </form>
                    <p *ngIf="errorCode[0] == 1" class="text-[#ff2f2f] font-medium">Fixed Expense cannot be empty</p>
                    <p *ngIf="errorCode[0] == 2" class="text-[#ff2f2f] font-medium">Fixed Expense name is too long</p>
                    <p *ngIf="errorCode[0] == 3" class="text-[#ff2f2f] font-medium">Expense with name already exists</p>
                    <p *ngIf="errorCode[0] == 4" class="text-[#ff2f2f] font-medium">Break fixed expense into smaller
                        pieces
                    </p>
                </div>


            </form>
            <!-- Assets -->
            <form class="bg-[#ff2f2f] text-white w-[20rem] md:w-[45rem] rounded-md p-4 flex flex-col gap-2 md:gap-4 relative">
                <div>
                    <h1 class="text-2xl bg-[#ff2f2f] pointer-events-none">Add Passive Income</h1>
                    <h1 class="text-lg">Monthly Passive Income</h1>
                </div>

                <!-- Fixed Assets -->
                <div *ngFor="let fixedAsset of TotalFixedAssetModel; let i=index" class="flex gap-2">
                    <p class="p-1 w-[60%] md:w-[25%]">{{fixedAsset.name | titlecase}}:</p>
                    <input (keyup)="calculations()" [(ngModel)]="TotalFixedAssetModel[i].amount" type="number"
                        placeholder="0" name="amountFixed{{i}}"
                        class="p-1 w-[5rem] md:w-[10rem] text-black rounded-md font-sans text-sm">
                    <fa-icon [icon]="faTrash" class="text-black" (click)="RemoveFixedAsset(fixedAsset.id)"></fa-icon>
                </div>

                <div>
                    <p class="text-sm">Enter your monthly passive income below</p>
                    <form class="grid grid-flow-col gap-2 grid-cols-3" (ngSubmit)="AddFixedAsset()">
                        <input type="text" [(ngModel)]="FixedAssetModel.name" name="AddFixedAsset"
                            class="p-1 col-span-2 text-black rounded-md font-sans text-sm">
                        <button class="button-lt hover:bg-red-800 col-span-1 hidden md:block" type="submit">Add
                            Passive Income</button>
                        <button class="button-lt hover:bg-red-800 col-span-1 block md:hidden" type="submit">Add
                            Passive</button>
                    </form>
                    <p *ngIf="errorCode[3] == 1" class="text-black font-medium">Fixed Asset cannot be empty</p>
                    <p *ngIf="errorCode[3] == 2" class="text-black font-medium">Fixed Asset name is too long</p>
                    <p *ngIf="errorCode[3] == 3" class="text-black font-medium">Asset with name already exists</p>
                    <p *ngIf="errorCode[3] == 4" class="text-black font-medium">Break fixed asset into smaller
                        pieces</p>
                </div>

                
            </form>
            <div>
                <!-- Submit Errors -->
                <p *ngIf="submitError != ''" class="text-red-600 font-medium text-center">{{submitError}}</p>
                <!-- Submit Button -->
                <div class="w-full flex place-content-center">              
                    <button (click)="submit()" class="button-lt py-1 px-6" type="submit">Submit Budget</button>
                </div>
            </div>
            
        </div>
    </div>
    <div class="fixed top-0 left-0 w-screen h-screen bg-[#5b383837] blur-3xl">

    </div>
</div>