<div *ngIf="!(loading)" class="w-screen min-h-screen">
    <div *ngIf="data.length == 0" class="min-h-screen relative flex items-center justify-center py-20 text-black">
        <div class="bg-[#D9D9D9] rounded-md w-[35rem] h-[15rem] relative border border-[#cccccc]">
            <div class="absolute top-[40%] left-6 z-20 text-white lg:text-black">
                <h1 class="text-2xl pb-2">Nothing to show...</h1>
                <button (click)="createBudget()" class="button-lt py-1">Create a new budget</button>
            </div>
            <div
                class="from-[#ff2f2f] to-transparent rounded-md bg-gradient-to-tr absolute w-[100%] h-full block z-10 lg:hidden">
            </div>
            <img src="../../assets/none.svg" alt="Image"
                class="w-[20rem] sm:w-[26rem] sm:top-[-4.46rem] right-2 absolute">
        </div>
    </div>
    <div *ngIf="data.length > 0" [ngClass]="cardMoveDirection == 0 ? 'animate-none' : 'animate-ping'"
        class="min-h-screen relative flex items-center justify-center py-20 text-white">
        <div *ngFor="let dataType of data; let i = index;">
            <div *ngIf="i == currentBudget" class="flex gap-8 items-center flex-col lg:flex-row">
                <div class="flex flex-col gap-4 items-end">
                    <!-- Total cards -->
                    <div class="hidden lg:grid grid-cols-2 gap-4">
                        <div
                            class="flex flex-col gap-2 bg-[#D9D9D9] rounded-md h-[5rem] relative min-w-[200px]">
                            <div class="bg-[#262626] rounded-t-md w-full text-center">
                                <h1 class="text-xl">Total Income</h1>
                            </div>
                            <div class="w-full text-center">
                                <h1 class="text-black font-semibold text-2xl">${{dataType.income}}</h1>
                            </div>
                        </div>
                        <div
                            class="flex flex-col gap-2 bg-[#D9D9D9] rounded-md h-[5rem] relative min-w-[200px]">
                            <div class="bg-[#ff2f2f] rounded-t-md w-full text-center">
                                <h1 class="text-xl">Total Expenses</h1>
                            </div>
                            <div class="w-full text-center">
                                <h1 class="text-black font-semibold text-2xl">${{dataType.expenseTotal}}</h1>
                            </div>
                        </div>
                        <div
                            class="flex flex-col gap-2 bg-[#D9D9D9] rounded-md h-[5rem] relative min-w-[200px]">
                            <div class="bg-[#ffc000] rounded-t-md w-full text-center">
                                <h1 class="text-xl">Total Assets</h1>
                            </div>
                            <div class="w-full text-center">
                                <h1 class="text-black font-semibold text-2xl">${{dataType.assetTotal}}</h1>
                            </div>
                        </div>
                        <div
                            class="flex flex-col gap-2 bg-[#D9D9D9] rounded-md h-[5rem] relative min-w-[200px]">
                            <div class="bg-[#00B050] rounded-t-md w-full text-center">
                                <h1 class="text-xl">Spare Cash</h1>
                            </div>
                            <div class="w-full text-center">
                                <h1 class="text-black font-semibold text-2xl">${{savings}}</h1>
                            </div>
                        </div>
                    </div>

                    <!-- Actions card -->
                    <div
                        class="hidden lg:flex flex-col gap-2 bg-[#D9D9D9] rounded-md p-4 h-[10.5rem] relative w-[250px]">
                        <h1 class="text-xl lg:text-3xl text-center flex items-center justify-center text-black"><fa-icon
                                [icon]="faPencil" class="text-base"></fa-icon>Actions</h1>
                        <button class="button-lt" (click)="editBudget(dataType.id)">Edit Budget</button>
                        <button class="button-lt" (click)="togglePrompt()">Delete Budget</button>
                        <app-prompt *ngIf="promptOpen" class="absolute" [closeFunction]="togglePrompt.bind(this)" [deleteFunction]="deleteBudget.bind(this)" [deleteValue]="dataType.id"></app-prompt>
                        <button class="button-lt">Change Budget Period</button>
                    </div>
                </div>

                <!-- budget card -->
                <div class="flex flex-col gap-2 bg-[#ff2f2f] rounded-md p-8 relative min-w-[350px] z-10">
                    <div class="">
                        <div class="flex gap-6 justify-center text-3xl text-center">
                            <button (click)="currentBudget > 0 ? switchBudgetDate(0) : null"
                                [ngClass]="currentBudget > 0 ? '' : 'text-gray-400 pointer-events-none'"><fa-icon
                                    [icon]="faCaretLeft"></fa-icon></button>
                            <h1>{{months[dataType.month - 1]}} - {{dataType.year}}</h1>
                            <button (click)="currentBudget < data.length - 1 ? switchBudgetDate(1) : null"
                                [ngClass]="currentBudget < data.length - 1 ? '' : 'text-gray-400 pointer-events-none'"><fa-icon
                                    [icon]="faCaretRight"></fa-icon></button>
                        </div>

                        <p class="text-lg lg:text-xl text-center">{{dataType.frequency | titlecase}} Budget</p>
                    </div>

                    <!-- Expenses -->
                    <h1 *ngIf="dataType.expenses.length > 0" class="text-xl">Expenses</h1>
                    <div *ngIf="dataType.expenses.length > 0" class="grid w-full grid-flow-col">
                        <div class="grid col-span-3 w-[7.25rem]">
                            <h1 class="px-2 pb-2 lg:text-lg">Name</h1>
                            <div *ngFor="let expense of dataType.expenses; let i = index;"
                                class="bg-red-800 font-sans text-sm px-2 rounded-l-md mb-2">
                                <p class="text-xs lg:text-base truncate w-[8rem]">{{expense.name | titlecase}}</p>
                                <p *ngIf="expense.name == ''">-</p>
                            </div>
                        </div>
                        <div class="grid col-span-1">
                            <h1 class="px-2 pb-2 lg:text-lg">Frequency</h1>
                            <div *ngFor="let expense of dataType.expenses; let i = index;"
                                class="bg-red-800 font-sans text-sm px-2 mb-2">
                                <p class="text-xs lg:text-base truncate" *ngIf="expense.frequency == ''">
                                    {{dataType.frequency | titlecase}}</p>
                                <p class="text-xs lg:text-base truncate">{{expense.frequency | titlecase}}</p>
                            </div>
                        </div>
                        <div class="grid col-span-2">
                            <h1 class="px-2 pb-2 lg:text-lg">Amount</h1>
                            <div *ngFor="let expense of dataType.expenses; let i = index;"
                                class="bg-red-800 font-sans text-sm px-2 rounded-r-md mb-2">
                                <p class="text-xs lg:text-base">${{expense.amount}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- Assets -->
                    <h1 *ngIf="dataType.assets.length > 0" class="text-xl">Assets</h1>
                    <div *ngIf="dataType.assets.length > 0" class="grid w-full grid-flow-col">
                        <div class="grid col-span-3 w-[7.25rem]">
                            <h1 class="px-2 pb-2 lg:text-lg">Name</h1>
                            <div *ngFor="let asset of dataType.assets; let i = index;"
                                class="bg-red-800 px-2 font-sans text-sm rounded-l-md mb-2">
                                <p class="text-xs lg:text-base truncate w-[8rem]">{{asset.name | titlecase}}</p>
                                <p *ngIf="asset.name == ''">-</p>
                            </div>
                        </div>
                        <div class="grid col-span-1">
                            <h1 class="px-2 pb-2 lg:text-lg">Frequency</h1>
                            <div *ngFor="let asset of dataType.assets; let i = index;"
                                class="bg-red-800 px-2 font-sans text-sm mb-2">
                                <p class="text-xs lg:text-base truncate" *ngIf="asset.frequency == ''">
                                    {{dataType.frequency | titlecase}}</p>
                                <p class="text-xs lg:text-base truncate">{{asset.frequency | titlecase}}</p>
                            </div>
                        </div>
                        <div class="grid col-span-2">
                            <h1 class="px-2 pb-2 lg:text-lg">Amount</h1>
                            <div *ngFor="let asset of dataType.assets; let i = index;"
                                class="bg-red-800 px-2 font-sans text-sm rounded-r-md mb-2">
                                <p class="text-xs lg:text-base">${{asset.amount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- options card mobile -->
                <div class="flex lg:hidden flex-col gap-2 bg-[#D9D9D9] rounded-md p-6 h-[12rem] relative min-w-[200px]">
                    <h1 class="text-xl lg:text-3xl text-center flex items-center justify-center text-black"><fa-icon
                        [icon]="faPencil" class="text-xs"></fa-icon>Actions</h1>
                    <button class="button-lt" (click)="editBudget(dataType.id)">Edit Budget</button>
                    <button class="button-lt" (click)="togglePrompt()">Delete Budget</button>
                    <app-prompt *ngIf="promptOpen" class="absolute" [closeFunction]="togglePrompt.bind(this)" [deleteFunction]="deleteBudget.bind(this)" [deleteValue]="dataType.id"></app-prompt>
                    <button class="button-lt">Change Budget Period</button>
                </div>
                <!-- Total cards mobile -->
                <div class="grid lg:hidden grid-cols-2 gap-4 relative">
                    <div class="flex flex-col gap-2 bg-[#D9D9D9] rounded-md h-[5rem] relative min-w-[135px]">
                        <div class="bg-[#262626] rounded-t-md w-full text-center">
                            <h1 class="text-lg">Total Income</h1>
                        </div>
                        <div class="w-full text-center">
                            <h1 class="text-black font-semibold text-2xl">${{dataType.income}}</h1>
                        </div>
                    </div>
                    <div class="flex flex-col gap-2 bg-[#D9D9D9] rounded-md h-[5rem] relative min-w-[135px]">
                        <div class="bg-[#ff2f2f] rounded-t-md w-full text-center">
                            <h1 class="text-lg">Total Expenses</h1>
                        </div>
                        <div class="w-full text-center">
                            <h1 class="text-black font-semibold text-2xl">${{dataType.expenseTotal}}</h1>
                        </div>
                    </div>
                    <div class="flex flex-col gap-2 bg-[#D9D9D9] rounded-md h-[5rem] relative min-w-[135px]">
                        <div class="bg-[#ffc000] rounded-t-md w-full text-center">
                            <h1 class="text-lg">Total Assets</h1>
                        </div>
                        <div class="w-full text-center">
                            <h1 class="text-black font-semibold text-2xl">${{dataType.assetTotal}}</h1>
                        </div>
                    </div>
                    <div class="flex flex-col gap-2 bg-[#D9D9D9] rounded-md h-[5rem] relative min-w-[135px]">
                        <div class="bg-[#00B050] rounded-t-md w-full text-center">
                            <h1 class="text-lg">Spare Cash</h1>
                        </div>
                        <div class="w-full text-center">
                            <h1 class="text-black font-semibold text-2xl">${{savings}}</h1>
                        </div>
                    </div>
                </div>
                <!-- chart card -->
                <div class="flex flex-col gap-2 bg-[#D9D9D9] p-6 rounded-md h-[25rem] min-w-[200px]">
                    <div>
                        <h1 class="text-2xl text-black text-center">Visualizations</h1>
                    </div>
                    <div class="">
                        <canvas class="w-[10rem]" baseChart [data]="chartdata" [type]="'pie'" [legend]="false">
                        </canvas>
                    </div>
                    <div class="flex gap-6 justify-center pt-4">
                        <div>
                            <div class="bg-[#ff2f2f] rounded-lg w-16 h-4">

                            </div>
                            <h1 class="text-black text-center">Expense</h1>
                        </div>
                        <div>
                            <div class="bg-[#ffc000] rounded-lg w-16 h-4">

                            </div>
                            <h1 class="text-black text-center">Asset</h1>
                        </div>
                        <div>
                            <div class="bg-[#00B050] rounded-lg w-16 h-4">

                            </div>
                            <h1 class="text-black text-center">Spare Cash</h1>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div *ngIf="loading" class="w-screen h-screen grid place-content-center">
    <div class="p-2 rounded-md px-6 bg-red-800 relative animate-bounce">
        <h3 class="text-3xl text-white">Loading...</h3>
    </div>
</div>