<section class="flex items-center h-full p-16">
	<div class="container flex flex-col items-center justify-center px-5 mx-auto my-8 relative z-10">
		<div class="max-w-md text-center">
			<h2 class="mb-8 font-extrabold text-9xl">
				<span class="sr-only">Error</span><span class="text-[#ff2929]">4</span>0<span class="text-[#ff2929]">4</span>
			</h2>
			<p class="text-2xl font-semibold md:text-3xl">Sorry, we couldn't find this page.</p>
			<p class="mt-4 mb-8">But dont worry, we are redirecting you to the homepage now.</p>
			<p *ngIf="countdown" class="text-xl mt-1 mb-8">In {{countdown}}...</p>
		</div>
	</div>
    <div class="fixed top-0 left-0 w-screen h-screen bg-[#5b383837] blur-3xl">

    </div>
</section>