<div class="w-screen">
    <div class="relative h-screen min-h-[35rem] w-full">
        <div class="absolute top-0 bottom-0 left-0 right-0 m-auto w-full h-full">
            <div (click)="onFormClicked()"
                class="bg-gray-100 h-[22.2rem] w-[21rem] p-6 absolute top-0 bottom-0 left-0 right-0 rounded-md m-auto z-40">
                <div class="flex flex-col gap-2">
                    <div class="text-3xl">
                        <h1>Sign In</h1>
                    </div>
                    <form #loginForm="ngForm" class="flex flex-col gap-2 w-full" (ngSubmit)="formClicked ? onFormButtonClick('login') : login()"
                        autocomplete="off">
                        <div class="w-full">
                            <label class="w-full pr-2" for="username">Username</label>
                            <input type="text" name="username" [(ngModel)]="model.username"
                                class="p-1 px-2 rounded-md w-full">
                        </div>
                        <div class="w-full">
                            <label class="w-full pr-2" for="password">Password</label>
                            <input type="password" name="password" class="p-1 px-2 rounded-md w-full"
                                [(ngModel)]="model.password">
                        </div>
                        <div class="w-full flex justify-start pt-2 gap-2">
                            <button (click)="$event.stopPropagation()" type="submit" class="button-lt w-[50%] py-1">
                                Login
                            </button>
                            <input (click)="$event.stopPropagation()" (click)="formClicked ? onFormButtonClick('cancel') : cancel()" type="button" value="Cancel" class="button-lt w-[50%] py-1">
                        </div>
                        

                        <span *ngIf="isError" class="text-[#ff2f2f]">Unauthorized, please try again...</span>
                    </form>
                    <div class="">
                        <label>New to this service? Create an account:</label>
                    </div>
                    <div class="w-full flex gap-2">
                        <input (click)="$event.stopPropagation()" (click)="formClicked ? onFormButtonClick('register') : register()" type="button" value="Register" class="button-lt w-[50%] py-1">
                        <input (click)="$event.stopPropagation()" (click)="formClicked ? onFormButtonClick('guest') : createGuest()" type="button" value="Guest User" class="button-lt w-[50%] py-1">
                    </div>
                </div>
            </div>
            <div
                [ngClass]="!cardOpened ? 'h-[23.2rem] w-[22rem] from-red-400 bg-gradient-to-tr to-[#ff2f2f] rounded-md absolute top-0 bottom-0 left-0 right-0 m-auto z-30 card1-close' :
                formClicked && cardOpened ? 'h-[23.2rem] w-[22rem] from-red-400 bg-gradient-to-tr to-[#ff2f2f] rounded-md absolute top-0 bottom-0 left-0 right-0 m-auto z-30 card1' : 
                'h-[23.2rem] w-[22rem]  from-red-400 bg-gradient-to-tr to-[#ff2f2f] rounded-md absolute top-0 bottom-0 left-0 right-0 m-auto z-30'">
            </div>
            <div
            [ngClass]="!cardOpened ? 'h-[23.2rem] w-[22rem] from-red-500 bg-gradient-to-tr to-red-800 rounded-md absolute top-0 bottom-0 left-0 right-0 m-auto z-20 card2-close' :
                formClicked && cardOpened ? 'h-[23.2rem] w-[22rem] from-red-500 bg-gradient-to-tr to-red-800 rounded-md absolute top-0 bottom-0 left-0 right-0 m-auto z-20 card2' : 
                'h-[23.2rem] w-[22rem] from-red-500 bg-gradient-to-tr to-red-800 rounded-md absolute top-0 bottom-0 left-0 right-0 m-auto z-20'">
            </div>
            <div class="fixed w-screen h-screen bg-[#5b383837] blur-3xl z-10">

            </div>
        </div>
    </div>
</div>